<div class="card">
  <div class="card-header">
    <h4>Sign Up</h4>
  </div>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: user_registration_path(resource), method: :post, html: { data: { turbo: false} }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field field-group">
        <% f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"Email" %>
      </div><br/>

      <div class="field field-group">
        <% f.label :password %>
        <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"Password" %>
        <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div><br/>

      <div class="field field-group">
        <% f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder:"Confirm Password" %>
      </div><br/>

      <div class="actions">
        <%= f.submit "Sign up", class:"btn btn-secondary" %>
      </div>
    <% end %>
  </div>
</div>

<br/>
<%= render "devise/shared/links" %>
