<div id="<%= dom_id roster %>">
  <p>
    <strong>First name:</strong>
    <%= roster.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= roster.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= roster.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= roster.phone %>
  </p>

</div>
